# Institute of Data - Capstone Project - Customer Churn

## Table of Contents
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#data_wrangling">Data Wrangling</a></li>
    <ul>
        <li><a href="#data_dictionary">Data Dictionary</a></li>
    </ul>
    <li><a href="#exploratory">Exploratory Data Analysis</a></li>
    <li><a href="#modeling">Modeling</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
</ul>

## Introduction <a id='introduction'></a>

In [1]:
# Import Modules

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Show plots inline
%matplotlib inline

# Set max rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Data Wrangling <a id='data_wrangling'></a>

In [2]:
# Import Data

df = pd.read_csv('dataset/BankChurners.csv')

# Explore Head

df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [3]:
# Shape

df.shape

(10127, 23)

Dataset contains 10,127 rows and 23 columns. Let's explore the columns further below.

In [4]:
# Check Columns

df.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

#### Data Dictionary <a id='data_dictionary'></a>

- **Attrition_Flag**: Flag to show whether the client is current or has closed accounts with the bank
- **Customer_Age**: Customer Age in years
- **Gender**: M = Male, F = Female
- **Dependent_count**: Number of dependents the customer has
- **Education_Level**: Highest educational attainment of customer
- **Income_Category**: Annual income category the customer falls in
- **Card_Category**: Type of card held (Blue, Silver, Gold, Platnium)
- **Months_on_book**: Period of relationship with bank
- **Total_Relationship_Count**: Number of products held by customer
- **Months_Inactive_12_mon**: Number of inactive months in the past 12 months
- **Contacts_Count_12_mon**: Number of times contacted in the last 12 months
- **Credit_Limit**: Credit limit on customers credit card
- **Total_Revolving_Bal**: Total revolving balance on the credit card
- **Avg_Open_To_Buy**: Open to buy credit line (average of last 12 months)
- **Total_Amt_Chng_Q4_Q1**: Change in transaction amount (Q4 over Q1)
- **Total_Trans_Amt**: Total transaction amount (last 12 months)
- **Total_Trans_Ct**: Number of transactions (last 12 months)
- **Total_Ct_Chng_Q4_Q1**: Change in transaction count (Q4 over Q1)
- **Avg_Utilization_Ratio**: Average caard utilisation ratio

We have a good amount of information related to the customers in this dataset, that may have an impact as to whether or not the customer will churn from the bank. The target variable for this analysis is *Attrition_Flag*, where we'll be coding 1 to represent a customer that has churned, and 0 to represent the converse.

The last 2 columns of this dataset should be ignored and will be dropped. We'll also drop the CLIENTNUM column as it serves no purpose in the analysis we're going to do.

In [5]:
# Drop columns that aren't needed

df.drop(df.columns[[0, 21, 22]], axis=1, inplace=True)

# Check output

df.columns

Index(['Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count',
       'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category',
       'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

In [6]:
# Info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  object
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

We don't have any null values in this dataset, though we'll need to check if there are any values that appear incorrect. For example a value of 0 in Age would be an incorrect value.

In terms of data types, all variables are correctly classified.

In [7]:
# Describe

df.describe().T

,count,mean,std,min,25%,50%,75%,max
Customer_Age,10127.0,46.325960,8.016814,26.0,41.000,46.000,52.000,73.000
Dependent_count,10127.0,2.346203,1.298908,0.0,1.000,2.000,3.000,5.000
Months_on_book,10127.0,35.928409,7.986416,13.0,31.000,36.000,40.000,56.000
Total_Relationship_Count,10127.0,3.812580,1.554408,1.0,3.000,4.000,5.000,6.000
Months_Inactive_12_mon,10127.0,2.341167,1.010622,0.0,2.000,2.000,3.000,6.000
Contacts_Count_12_mon,10127.0,2.455317,1.106225,0.0,2.000,2.000,3.000,6.000
Credit_Limit,10127.0,8631.953698,9088.776650,1438.3,2555.000,4549.000,11067.500,34516.000
Total_Revolving_Bal,10127.0,1162.814061,814.987335,0.0,359.000,1276.000,1784.000,2517.000
Avg_Open_To_Buy,10127.0,7469.139637,9090.685324,3.0,1324.500,3474.000,9859.000,34516.000
Total_Amt_Chng_Q4_Q1,10127.0,0.759941,0.219207,0.0,0.631,0.736,0.859,3.397
Total_Trans_Amt,10127.0,4404.086304,3397.129254,510.0,2155.500,3899.000,4741.000,18484.000
Total_Trans_Ct,10127.0,64.858695,23.472570,10.0,45.000,67.000,81.000,139.000
Total_Ct_Chng_Q4_Q1,10127.0,0.712222,0.238086,0.0,0.582,0.702,0.818,3.714
Avg_Utilization_Ratio,10127.0,0.274894,0.275691,0.0,0.023,0.176,0.503,0.999

Reviewing the above table, it appears as though we don't have any unexpected values in each column. Unfortunately we have limited information on exactly what some of the columns mean. For example the 'Avg_Open_To_Buy' column is quite ambiguious in it's definition provided upon sourcing the dataset.

We have a good amount of numeric variables to explore the relationship between, such as:

- Do customers with higher credit limits, tend to utilise their card more?
- Do customers with higher credit limits, tend to have a higher number of transactions?
- Do customers with higher number of dependents, tend to have higher number of transactions?

This information may be useful in better understanding our customers spending habits, to assist in developing a marketing strategy to reduce customer churn.

Potentially some useful new columns to engineer:
- Transaction Amount as a proportion of Credit Limit
- Credit limit per dependent

In [8]:
# Convert Attrition_Flag to 0 = Current Customer & 1 = Churned Customer

df.Attrition_Flag = df.Attrition_Flag.replace('Existing Customer', 0)
df.Attrition_Flag = df.Attrition_Flag.replace('Attrited Customer', 1)

In [9]:
### IDEAS

## Conduct binning of categories

## Exploratory Data Analysis <a id='exploratory'></a>

## Modeling <a id='modeling'></a>

## Conclusion <a id='conclusion'></a>